{% extends "layout.html" %}

{% block title %}Login{% endblock title %}

{% block body %}

<div class="col-md-12">
    <h2>Login</h2>

    <form action="{{ url_for('login') }}" method=POST enctype=multipart/form-data>
        <div class="row">
            <div class="col-sm-12">
                <input type="text" name="username" class="form-control" placeholder="Username">
            </div>
            <div class="col-sm-12">
                <input type="password" name="password" class="form-control" placeholder="Password">
            </div>
            <div class="col-sm-12">
                <input type="submit" value="Login">
            </div>
        </div>
    </form>
</div>

{% endblock body %}